<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script>
        function toggleButton(inputId, buttonId) {
            const inputField = document.getElementById(inputId);
            const button = document.getElementById(buttonId);
            if (inputField.value.trim() === '') {
                button.disabled = true;
            } else {
                button.disabled = false;
            }
        }
        
        
        function setupInputListeners() {
            document.getElementById('currentAccountId').addEventListener('input', function() {
                toggleButton('currentAccountId', 'consultCurrentAccountButton');
            });

            document.getElementById('savingAccountId').addEventListener('input', function() {
                toggleButton('savingAccountId', 'consultSavingAccountButton');
            });
        }
        function redirectToDeposit(action) {
            window.location.href = action;
        }
        function redirectToWithdraw(action) {
            window.location.href = action;
        }
        window.onload = setupInputListeners;
    </script>
</head>
<body>
    <h1>Banco XYZ</h1>
    <a href="/dashboard/transfers"><h2>Transferências</h2></a>
    <h2>Depósitos</h2>
    <label for="depositDropdown">Selecionar Tipo de Conta:</label>
    <select id="depositDropdown" onchange="redirectToDeposit(this.value)">
        <option value="">-- Escolha uma Opção --</option>
        <option value="/dashboard/current-deposits">Conta Corrente</option>
        <option value="/dashboard/saving-deposits">Conta Poupança</option>
    </select>
    <h2>Saques</h2>
    <label for="depositDropdown">Selecionar Tipo de Conta:</label>
    <select id="depositDropdown" onchange="redirectToWithdraw(this.value)">
        <option value="">-- Escolha uma Opção --</option>
        <option value="/dashboard/current-withdraws">Conta Corrente</option>
        <option value="/dashboard/saving-withdraws">Conta Poupança</option>
    </select>
    
    <h2>Extratos</h2>
    <form action="#" th:action="@{/dashboard/extracts}" method="get" id="extractForm">
        <label for="extractsAccountDropdown">Selecione a conta para extrato:</label>
        <select id="extractsAccountDropdown" name="accountId" required onchange="setAccountType()">
            <option value="">-- Selecione uma Conta --</option>
            
            <optgroup label="Contas Correntes">
                <option th:each="account : ${currentAccounts}" 
                        th:value="${account.id}" 
                        th:data-account-type="current"
                        th:text="'Conta Corrente: ' + ${account.id} + ' - ' + ${account.nameClient}">
                </option>
            </optgroup>
           
            <optgroup label="Contas Poupanças">
                <option th:each="account : ${savingAccounts}" 
                        th:value="${account.id}" 
                        th:data-account-type="saving"
                        th:text="'Conta Poupança: ' + ${account.id} + ' - ' + ${account.nameClient}">
                </option>
            </optgroup>
        </select>
        
        <input type="hidden" name="accountType" id="accountType" value="">
        <button type="submit">Ver Extrato</button>
    </form>


    <script>
        function setAccountType() {
            const dropdown = document.getElementById("extractsAccountDropdown");
            const selectedOption = dropdown.options[dropdown.selectedIndex];
            const accountType = selectedOption.getAttribute("data-account-type");
            document.getElementById("accountType").value = accountType;
        }
    </script>

    <h2>Criar Conta</h2>
    <form action="#" th:action="@{/dashboard/create-account}" method="post">
    <label for="accountType">Tipo de Conta:</label>
    <select name="accountType" id="accountType">
        <option value="CURRENT">Conta Corrente</option>
        <option value="SAVING">Conta Poupança</option>
    </select>
    <br>
    <label for="nameClient">Nome do Cliente:</label>
    <input type="text" name="nameClient" id="nameClient" required>
    <br>
    <label for="saldo">Saldo Inicial:</label>
    <input type="number" name="saldo" id="saldo" required>
    <br>
    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" id="cpf" required>
    <br>
    <button type="submit">Criar Conta</button>
    </form>

    
    <h2>Consultar Conta Corrente</h2>
    <form action="#" th:action="@{/dashboard/consult-current-account}" method="post">
        <label for="currentAccountId">ID da Conta:</label>
        <input type="text" name="accountId" id="currentAccountId">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" id="consultCurrentAccountButton" disabled>Consultar Conta Corrente</button>
    </form>

    <h2>Consultar Conta Poupança</h2>
    <form action="#" th:action="@{/dashboard/consult-saving-account}" method="post">
        <label for="savingAccountId">ID da Conta:</label>
        <input type="text" name="accountId" id="savingAccountId">
        <button type="submit" id="consultSavingAccountButton" disabled>Consultar Conta Poupança</button>
    </form>

    <h2>Listar Contas</h2>
    <button id="showCurrentAccountsBtn">Ver Contas Correntes</button>
    <button id="showSavingAccountsBtn">Ver Contas Poupanças</button>

    <div id="currentAccountsTable" style="display:none;">
        <h3>Contas Correntes</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do Cliente</th>
                    <th>Cpf</th>
                    <th>Saldo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="account : ${currentAccounts}">
                    <td th:text="${account.id}"></td>
                    <td th:text="${account.nameClient}"></td>
                    <td th:text="${account.cpf}"></td>
                    <td th:text="${account.saldo}"></td>
                    <td>
                        <form action="#" th:action="@{/dashboard/edit-current-account/{id}(id=${account.id})}" method="get" style="display:inline;">
                            <button type="submit">Editar</button>
                        </form>
                        <form action="#" th:action="@{/dashboard/delete-current-account/{id}(id=${account.id})}" method="post" style="display:inline;">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="savingAccountsTable" style="display:none;">
        <h3>Contas Poupanças</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do Cliente</th>
                    <th>Cpf</th>
                    <th>Saldo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="account : ${savingAccounts}">
                    <td th:text="${account.id}"></td>
                    <td th:text="${account.nameClient}"></td>
                    <td th:text="${account.cpf}"></td>
                    <td th:text="${account.saldo}"></td>
                    <td>
                        <form action="#" th:action="@{/dashboard/edit-saving-account/{id}(id=${account.id})}" method="get" style="display:inline;">
                            <button type="submit">Editar</button>
                        </form>
                        <form action="#" th:action="@{/dashboard/delete-saving-account/{id}(id=${account.id})}" method="post" style="display:inline;">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        document.getElementById('showCurrentAccountsBtn').onclick = function() {
            document.getElementById('currentAccountsTable').style.display = 'block';
            document.getElementById('savingAccountsTable').style.display = 'none';
        };

        document.getElementById('showSavingAccountsBtn').onclick = function() {
            document.getElementById('savingAccountsTable').style.display = 'block';
            document.getElementById('currentAccountsTable').style.display = 'none';
        };
    </script>

    
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>

    
    <div th:if="${currentAccount}">
        <h3>Detalhes da Conta Corrente:</h3>
        <p>ID: <span th:text="${currentAccount.id}"></span></p>
        <p>Nome: <span th:text="${currentAccount.nameClient}"></span></p>
        <p>Cpf: <span th:text="${currentAccount.cpf}"></span></p>
        <p>Saldo: <span th:text="${currentAccount.saldo}"></span></p>
        
    </div>


    <div th:if="${savingAccount}">
        <h3>Detalhes da Conta Poupança:</h3>
        <p>ID: <span th:text="${savingAccount.id}"></span></p>
        <p>Nome: <span th:text="${savingAccount.nameClient}"></span></p>
        <p>Cpf: <span th:text="${savingAccount.cpf}"></span></p>
        <p>Saldo: <span th:text="${savingAccount.saldo}"></span></p>
    </div>
    <form action="#" th:action="@{/logout}" method="post" style="display:inline;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Sair</button>
    </form>
</body>
</html>