<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Conta</title>
</head>
<body>
    <h1>Editar Conta</h1>
    <form th:action="@{/dashboard/edit-saving-account/{id}(id=${account.id})}" method="post">
        <input type="hidden" name="id" th:value="${account.id}"/>
        <label for="nameClient">Nome do Cliente:</label>
        <input type="text" name="nameClient" id="nameClient" th:value="${account.nameClient}" required>
        <br>
        <!-- <label for="saldo">Saldo:</label>
        <input type="number" name="saldo" id="saldo" th:value="${account.saldo}" required> -->
        <br>
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" id="cpf" th:value="${account.cpf}" required>
        <br>
        <button type="submit">Salvar</button>
    </form>
    <a href="/dashboard">Voltar</a>
</body>
</html>
